body{
	width: 100%;
	margin: auto;
}

.container{
	width: 960px;
	margin: auto;
}
.header{
	background: #6396bc;
	width: 100%;
	top: 0;
	position: fixed;
}
@font-face{
		font-family: "28 days later";
		src: url('28 Days Later.ttf');
	}

.logo{
	text-align: center;
	font-family: '28 days later', cursive;
	font-size: 15px;
}
a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
	float: left;
	margin: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	

}


html, body, .container{height: 100%}
body > .container{height: auto;min-height: 100%}
#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}
.content { padding-bottom: 3em; }



.container1{
	background-color: #ffffcc;
	width: 100%;
	margin: auto;
	height: 100%;
}
a{
	text-decoration: underline;
}

a:link{

}
a:visited{
	color: green;
}
a:hover{
	font-weight: bold;
}
a:active{
	text-decoration: none;
}


	


